.userPopout-4pfA0d .body-3rkFrF .bodyTitleText-hSiL7d {
  color: #A7A7A7
}

.userPopout-4pfA0d .footer-2J5zqP .tip {
  color: #A0A0A0
}

.userPopout-4pfA0d .headerNormal-1cioxU {
  background: transparent!important
}

.avatarNormal-3luwna {
    border-color: transparent;
  }

.header-3mZJcV .avatarStatusNormal-1OXVjG {
  border-color: transparent;
}

.userPopout-4pfA0d::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-position: center;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  overflow: hidden

}

.userPopout-4pfA0d .body-3rkFrF {
  background: rgba(0, 0, 0, .65);
  padding-bottom: 10px;
  border-bottom: 0px
}

.userPopout-4pfA0d .footer-2J5zqP {
  background: rgba(0, 0, 0, .65);
  border-top: 2px var(--main-color) solid
}

.userPopout-4pfA0d .footer-2J5zqP .quick-message .quickMessage-28pD5Y {
  border-color: transparent;
  background: rgba(0, 0, 0, .5);
  color: #fff
}

.quickMessage-28pD5Y {
  border-color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.3);
  color: #AEAEAE
}


.userPopout-4pfA0d .body-3rkFrF .roles .member-roles {
  max-height: 230px;
  overflow-y: auto
}

.theme-dark .footer-1PYmcw {
  background: transparent !important
}

.theme-dark .input-2YozMi {
	border-color: var(--main-color);
	border-width: 2px;
}
.theme-dark .footer-1PYmcw {
  background: transparent !important
}

.theme-dark .input-2YozMi {
	border-color: var(--main-color);
	border-width: 2px;
}

.userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar {
  width: 14px
}

.userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 3px solid transparent
}

.userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar-thumb, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar-track-piece, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar-thumb, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles::-webkit-scrollbar-track-piece {
  visibility: hidden
}

.userPopout-4pfA0d .body-3rkFrF .roles .member-roles:hover::-webkit-scrollbar-thumb, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles:hover::-webkit-scrollbar-track-piece, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles:hover::-webkit-scrollbar-thumb, .userPopout-4pfA0d .body-3rkFrF .roles .member-roles:hover::-webkit-scrollbar-track-piece {
  visibility: visible
}

/* The following changes are by members of the ClearVision channel on Discord.
   These are community contributions while Zerthox takes a break and deals with life. */

/* tehbasshunter */
/**/ /* Modified by w/ &#2039; */
/**/ [class*="autocomplete-"] [class*="selectorSelected-"]{
/**/     background-color: var(--main-color);}

.channel-text-area-default [class*="inner-"],
.channel-text-area-default [class*="autocomplete-"],
[class*="autocomplete-"][class*="autocomplete-"]{
    background-color: rgba(0, 0, 0, .6) !important;}

.channel-text-area-default [class*="textArea-"],
.channel-text-area-default [class*="selector-"] [class*="marginLeft8-"]{
    color: white;}

.emoji-picker .scroller .emoji-item.selected {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;}

/* Dani */
.theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn{
    display: none}

.theme-dark [class*="channelTextAreaEnabled"] [class*="inner"]{
    background: rgba(0, 0, 0, .6);}

/* w/ &#2039; */
.instant-invite-modal DIV[class*="form"]{
    background: rgba(0, 0, 0, .85) !Important;}

[class*="modal"] [class*="sizeSmall"] [class*="footer"] BUTTON[type="button"]{
	background-color: rgba(0, 0, 0, .5) !Important;
}

[class*="modal"][class*="modal"][class*="size"],
[class*="need-help-modal"] .form-inner,
[class*="modal"] [class*="customWidth"]{
    background-color: rgba(0, 0, 0, .6) !important;}

input{
	border-width: 2px !Important;}

input:focus{
	border-color: var(--main-color) !important;
	box-shadow: 0px 0px 3px var(--main-color);}

[class*="need-help-modal"] .footer{
    background-color: rgba(0, 0, 0, .88) !important;
    border-top: none !important;}

[class*="need-help-modal"] .header.control-group{
    background-color: var(--main-color) !important;}

#help-query{
    border: none !Important;
    box-shadow: none !important;}

#help-query:focus{
    color: white !Important;}

.radio .radio-inner{
    background-color: rgba(0, 0, 0, .64) !important;
    border: 2px solid var(--main-color) !important;}

[class*="titleChecked"]{
    color: var(--main-color) !important;}

/**/ /* Some assistance by DevilsLynAvenged */
/**/ .content-column [class*="checkbox"]{
/**/ background-color: rgba(0, 0, 0, .32) !important;
/**/ border-width: 2px !Important;
/**/ border-color: var(--main-color) !Important;}
/**/
/**/ .content-column [class*="checkbox"] [class*="focused"]{
/**/ box-shadow: none !important;}

[class*="checkbox"] [class*="checked"] polyline{
    stroke: var(--main-color) !Important;}
.layer[layer-id="server-settings"] [class*="card"]:first-child:hover [class*="checkbox"][class*="checked"] polyline,
.ui-form-item [class*="card"]:hover [class*="checkbox"][class*="checked"] polyline{
    opacity: 1 !important;}

.radio:hover .radio-inner SPAN:after,
.radio:hover .radio-inner.default SPAN:after,
.layer[layer-id="server-settings"] [class*="card"]:first-child:hover [class*="checkbox"] polyline,
.ui-form-item [class*="card"]:hover [class*="checkbox"] polyline{
    stroke: var(--main-color) !important;
    opacity: .5;}

.radio:not(:hover) .radio-inner.default SPAN:after{
	opacity: .25 !important;}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:first-child:hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:nth-child(2):hover [class*="checkbox"] polyline{
    stroke: rgba(67, 181, 129, .5)}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:nth-child(2):hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:nth-child(3):hover [class*="checkbox"] polyline{
    stroke: rgba(250, 166, 26, .5)}

.layer[layer-id="server-settings"] [class*="card"]:nth-child(4):hover [class*="checkbox"] polyline{
    stroke: rgba(245, 119, 49, .5)}

.layer[layer-id="user-settings"] .margin-bottom-40:first-child [class*="card"]:last-child:hover [class*="checkbox"] polyline,
.layer[layer-id="server-settings"] [class*="card"]:last-child:hover [class*="checkbox"] polyline{
    stroke: rgba(240, 71, 71, .5)}

.content-column [class*="switch"][class*="valueUnchecked"],
.content-column [class*="bar"] .fill[class*="barFill"]{
	background-color: rgba(0, 0, 0, .32) !important;
}

.content-column [class*="switch"][class*="valueChecked"],
.sensitivity [class*="slider"].slider-bar.speaking{
	background-color: var(--main-color) !important;}

.content-column .connection-list [class*="switch"][class*="valueUnchecked"]{
	background: transparent !important;}
.content-column .connection-list [class*="switch"][class*="valueChecked"]{
	background: rgba(255, 255, 255, .3) !important;}

.content-column [class*="slider"] > [class*="bar"],
.sensitivity [class*="slider"].slider-bar:not(.speaking){
	background: rgba(255, 255, 255, .1) !important;}

.content-column [class*="bar"] :not(.fill)[class*="barFill"]{
	background: -webkit-linear-gradient(right, var(--hover-color) 0%, var(--main-color) 100%) !important;
    background: linear-gradient(to right, var(--hover-color) 0%, var(--main-color) 100%) !important;}

.content-column [class*="grabber"]{
	background-color: var(--main-color) !important;
	border-radius: 10px !Important;
	border-style: none !Important;
	margin-top: -9px !important;}

	.content-column [class*="grabber"],
DIV.slider-handle{
	height: 18px !important;
	width: 18px !Important;}

[class*="modal"] FORM[class*="modal"][class*="container"][class*="sizeSmall"] [class*="message"]{
	background-color: transparent !important;
	box-shadow: none !Important;}

.tooltip.tooltip-top,.tooltip.tooltip-right, .tooltip.tooltip-bottom{
    background: var(--main-color);
}
.private .private-channel-call-btns-wrapper button:nth-child(1) span {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/videocam.svg) !important;
}

.private .channel-group-dm + .header-toolbar > .private-channel-call-btns-wrapper > button:first-child span {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/videocam.svg) !important;
}

.private .channel-group-dm + .header-toolbar > .private-channel-call-btns-wrapper > button:nth-child(2) span {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/call.svg) !important;
}

.channelTextAreaEnabled-c05Zpy.channelTextArea-1HTP3C.channel-text-area-default {
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 5px;
    margin: 10px 0 30px;
}
.innerEnabled-gLHeOL.inner-3if5cm.flex-3B1Tl4.innerNoAutocomplete-kaUXJZ, .innerEnabled-gLHeOL.inner-3if5cm.flex-3B1Tl4.innerAutocomplete-2qsvzH {
    border: 1px solid var(--main-color);
}
